html{
	width:1340px; color:#000000; font-family: "Myryad Pro",Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; background:url(../recursos/fondo.jpg); background-attachment:fixed; background-size:cover; background-repeat:no-repeat}
section{
	font-style:normal; font-size:20px; text-align:justify}
table{color:#F3F1D4; background:#C42326 ; width:950px; border:2px solid #000000; border-collapse:collapse; font-size:28px; margin:10px 25px; text-align:center}
table td {border:2px solid #000000}
a{color:#F3F1D4; text-decoration:none}
.cuerpo {background:#0B36D8; width:1000px; margin:20px 0px; padding:25px; 
position:relative;
top:0;
bottom:0;
right:0;
left:50px}
iframe {margin:10px 40px}
.footer {background:#1F213D; width:1000px; padding:20px; text-align:center;
position:relative;
top:0;
bottom:0;
right:0;
left:50px}
.imdb{position:relative; top:0; bottom:0; right:0; left:75px}
.consulta{position:relative; top:0; bottom:0; right:0; left:275px}
.biografia{position:relative; top:0; bottom:0; right:0; left:475px}
