html{
	width:1340px; color:#000000; font-family: "Myryad Pro",Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; font-style:normal; font-size:20px; text-align:justify;background:url(../recursos/fondo.jpg); background-attachment:fixed; background-size:cover; background-repeat:no-repeat}
.caja{ width:1000px; position:relative; top:0px; bottom:0; left:50px; right:0; background:#0B36D8; padding:25px; margin:20px 0px}
.foto {margin:20px}
iframe {margin:10px 40px}
table{color:#F3F1D4; border:2px solid #000000; border-collapse:collapse; font-size:28px; margin:10px 25px; text-align:center}
.detalles {background:#C42326 ; width:950px;}
.actores {width:700px; background:#1F213D}
table td {border:2px solid #000000}
.criterio { background:#001787}
.footer {background:#1F213D; width:1000px; padding:20px; text-align:center;
position:relative;
top:0;
bottom:0;
right:0;
left:50px}
a{color:#F3F1D4; text-decoration:none}
.imdb{position:relative; top:0; bottom:0; right:0; left:75px}
.consulta{position:relative; top:0; bottom:0; right:0; left:275px}
.biografia{position:relative; top:0; bottom:0; right:0; left:475px}